body{
    font-family: Arial;
    background:#f2f2f2;
}

.container{
    width:420px;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:10px;
}

.addBox{
    margin:15px 0;
}

input{
    width:70%;
    padding:8px;
}

button{
    padding:8px 15px;
    background:orange;
    border:none;
    color:white;
    cursor:pointer;
}

.item{
    padding:10px;
    margin:10px 0;
    background:#f5f5dc;
    border-left:5px solid orange;
    cursor:pointer;
}

.done{
    text-decoration: line-through;
    background:#d9e7dd;
    border-left:5px solid green;
}